<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="never">
    <title>{% block title %}{% endblock title %}</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .text-fore {
            color: #f2e5bc;
        }

        .bg-back {
            background-color: #3c3836;
        }

        .text-main {
            color: #fabd2f;
        }
    </style>
    {% block style %}
    {% endblock style %}
</head>

<body class="bg-back">
    {% block body %}
    {% endblock body %}
</body>

</html>