<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="never">
    <title>{% block title %}{% endblock title %}</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .body-back {
            background-color: #333333;
        }

        .text-white {
            color: #f4f1de;
        }

        .text-pink {
            color: #ffafcc;
        }

        .text-blue {
            color: #a2d2ff;
        }
    </style>
    {% block style %}
    {% endblock style %}
</head>

<body class="body-back">
    {% block body %}
    {% endblock body %}
</body>

</html>