<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="never">
    <title>{% block title %}{% endblock title %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        fore: '#32302f',
                        fored: '#f2e5bc',
                        back: '#ebdbb2',
                        backd: '#3c3836',
                        main: '#d79921',
                        maind: '#fabd2f',
                    }
                }
            }
        }
    </script>
</head>

<body class="bg-back dark:bg-backd">
    {% block body %}
    {% endblock body %}
</body>

</html>